@use "../abstracts/mixins";
@use "../abstracts/vars";

.about-page-container {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(1, 0.01, 1, 0.65);
  height: 100%;
  display: flex;
  padding-top: 1rem;

  @include mixins.respond(phone) {
    display: flex;
    flex-flow: column;
    margin-top: 0;
    padding-top: 3rem;
  }

  .about-image-element-wrapper {
    grid-row: 2 / span 5;
    grid-column: 1 / span 4;
    order: 2;
    flex: 1 1 600px;
    max-width: 600px;
    max-height: 500px;

    @include mixins.respond(phone) {
      flex: 1 1 auto;
      margin-top: 2rem;
    }

    img { @include mixins.image-element; }
  }

  p {
    font-size: 2rem;
    margin-left: 2rem;
    text-indent: 2rem;
    text-rendering: optimizelegibility;
    color: #333;
    letter-spacing: 0.04em;
    flex: 0 1 30%;

    @include mixins.respond (phone) {
      margin-left: unset;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
