@use '../abstracts/mixins';

.thumbnail {
  position: relative;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;

  @include mixins.respond(phone) {
    margin: 1rem 0 3.5rem;
    width: 80%;

    max-height: unset;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &::after {
    opacity: 0;
    content: '';
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 100ms ease-in;
  }

  &:hover::after {
    opacity: 0.2;
  }

  .thumbnail-hover-text {
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 2.5em;
    transition: opacity 100ms ease-in;
  }

  &:hover {
    .thumbnail-hover-text {
      opacity: 1;
    }
  }

  img {
    @include mixins.image-element;
  }
}
