@use './vars';
@use 'sass:color';

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content; } // 600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content; } // 900px | 1em = 38.4px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content; } // 1200px | 1em = 48px
  }
  // @if $breakpoint == desktop {
  //   @media (min-width: 76em) and (max-width: 112em){ @content };
  // }
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) { @content; } // 1800px
  }
}

@mixin breakpoint($break) {
  @if $break == xs-only {
    @media only screen and (max-width: 599px) { @content; }
  }
  @if $break == sm {
    @media only screen and (min-width: 600px) { @content; }
  }
  @if $break == sm-and-down {
    @media only screen and (max-width: 899px) { @content; }
  }
  @if $break == md {
    @media only screen and (min-width: 900px) { @content; }
  }
  @if $break == md-and-down {
    @media only screen and (max-width: 1199px) { @content; }
  }
  @if $break == lg {
    @media only screen and (min-width: 1200px) { @content; }
  }
  @if $break == xl {
    @media only screen and (min-width: 1800px) { @content; }
  }
}

@mixin testing {
  border: 6px dashed pink;
  font-size: 30rem;
}

@mixin sticky-bottom-left {
  position: sticky;
  bottom: 0;
  left: 0;
}

@mixin image-element {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@mixin anchor-colors ($theme) {
  @if $theme == dark {
    // todo - update these
    a { color: vars.$eggshl; }
    a:link { color: vars.$eggshl; }
    a:visited { color: color.adjust(vars.$eggshl, $blackness: 15%); }
    a:hover { color: color.adjust(vars.$eggshl, $blackness: 15%); }
    a:active { color: color.adjust(vars.$eggshl, $blackness: 12%, $alpha: -0.3); }
    a:focus { color: color.adjust(vars.$eggshl, $red: 10, $green: -10, $blue: -10); }
  }
  @if $theme == light {
    a { color: #1c1c1c; }
    a:link { color: #1c1c1c; }
    a:visited { color: #202f46; }
    a:hover { color: #242424; }
    a:active { color: #333333; }
    a:focus { color: #242424; }
  }
}

@mixin soft-border {
  border: 0.3rem solid vars.$colour-soft-border;
  border-radius: 0.4rem;
}

@mixin standard-before-after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
