$eggshl: #ececec;
$lighter-eggshl: #f9f9f9;
$medium-grey: #c5c5c5;

// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-nav-background: #333333;
$color-light-grey: #aaaaaa;
$color-lighter-grey: #e6e6e6;
$color-gloomy-grey: #6e6e6e;
$colour-soft-border: #00000028;
$color-navy: #2855c4;
$color-deep-orange: #db6822;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// images
$landed-image-height: 30rem;

// nav
$navbar-height: 20rem;
$sidenav-width: 28rem;
$sidenav-width-sm: 22rem;
$phonenav-outer-height: 9rem;
$phonenav-inner-height: 8.7rem;
// $phonenav-outer-top: -4.9rem;
$phone-x-pad: 2rem;
$topnav-height: 6rem;
