@use '@/scss/abstracts/mixins';
@use '@/scss/abstracts/vars';

.account-page {
  font-size: 2.6rem;
  // display: grid;
  // grid-template-columns: auto auto;

  // &__title, .history {
  //   grid-column: 1;
  // }

  // &__verification {
  //   grid-column: 2;
  // }

  .history {
    max-width: 1200px;

    &-list {
      // display: flex;
      // flex-flow: row wrap;
      font-size: 1.6rem;
      // max-width: 350px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));

      .h-item {
        @include mixins.soft-border;
        // flex: 1 1 30%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(auto-fit, 1fr);
        background:
          linear-gradient(110deg, vars.$color-primary-dark, 25%, transparent),
          linear-gradient(25deg, transparent, 25%, vars.$color-grey-dark);
        color: vars.$medium-grey;
        padding: 1rem;

        &__img {
          grid-column: 1 / span 2;
          grid-row: 1 / span 4;
        }

        &__name {
          grid-column: 1;
          grid-row: 3;
        }

        &__value {
          grid-column: 1;
          grid-row: 4;
        }

        &__id {
          grid-column: 2;
          grid-row: 1;
        }

        &__date {
          grid-column: 1;
          grid-row: 5;
        }
      }
    }
  }
}
