@use '@/scss/abstracts/mixins';

.card-stack {
  position: relative;
}

.pup-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 420px;
  border-radius: 15px;
  transform-origin: 50% 50%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixins.soft-border;
}
